/* img{
    width: 100px;
    height: 100px;
} */

.min-width{

    width: 50px;
    height: 60px;
    float: left;
    transform: translate(0,10px);


}
#firstPara{


    font-size: 1.2em;
    color: #AA5577;
}

.high-light{

    font-size: 1.4em;
    color: #FF6688;
}

.thin-border{

    border: 1px solid blue;
}

table{

    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;



}
tr,td,th{
    border: 1px solid blue;
}

.tbl-body-2x{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

.tbl-head-2x{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

nav{

    height: 40px;
}
.footer-min{

    height: 100px;
    background-color: black;

}
a{
    text-decoration: none;
    margin: 10px ;
    color: blue;
}

.head-2x{

    text-align: center;
    color: #AA5577;
    display: inline-block;

}

