/* Universal Selector */

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*  Id Based Selector*/
#pageHeading, h4{

    text-align: center;
    color: brown;
}


/*  Name Based Selector*/

footer{

    font-size: 1.8em ;

}

footer>p{

    font-size: 0.8em ;
}
/*  Class Selector*/

.centerText{

    text-align: center;
}

/* Grouping Selectors */


/*  Descendent  Selector*/
/* only list items ul will be applied with color and not ol */

ul>li{
    color: blueviolet;
}

/*  Adjancent  Selector*/

#first+section{

    font-weight: bolder;

}

/* Attribute Selector */
img[src='images/doctor1.png']{

    width: 50px;
    height: 50px;
    border: 1px solid brown;
}

img[src$='.png']{

    width: 50px;
    height: 50px;
    border: 2px solid gold;
}

/* Pseudo Classes */
#subHeading:hover{

    font-weight: lighter;
}


/* Pseduo Element */

#subHeading::first-letter{

font-size: 1.4em;
}

.box{
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid blue;
    position: relative;
    margin-left: 70px;

}

ul>li{

    margin-left: 0px;
    list-style-position: inside;
    text-align: left;


}

section{
    font-family: 'oswald';
    font-style: italic;
}
@font-face {
    font-family: 'oswald';
    src: url('https://fonts.googleapis.com/css2?family=Oswald');
}

.multi-image-backgrnd{

    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position:
        top 10px left 10px,
        top 10px right 20px,
        bottom 10px right 10px,
        bottom 10px left 10px;
    background-image:
        url('/images/ballon.jpeg'), url('/images/ballon.jpeg'),
         url('/images/ballon.jpeg'), url('/images/ballon.jpeg')


}


.container{
    display: flex;
    justify-content:center;

}
.custom-transform{

    width: 100px;
    height: 100px;
    border: 3px solid salmon;
    border-radius:  15px;
    /* transform: rotate(15deg); */
    /* transform: scale(0.8); */
     /* transform: skewX(5deg);  */
     /* transform: translateX(420px); */

     transition: width 3s;

}

.custom-transform:hover{

    width: 150px;
}

.heading{

    width: 85%;
    height: 10%;
    border: 2px solid red;
    background-image: 
             linear-gradient(#001100,#005505,#00A900,#0000FF);
    transform:translate(140px,20px)   
      
}
.page-head{

    color: aqua;
    text-align: center;
    transform: translateY(20px);
    border: inherit;
    border-radius: 15px 15px 15px 15px;
}
.foot-3-col{

    height: 300px;
    column-count: 3;
    column-width: 100px;
  column-rule: 1px solid blue;
  -webkit-column-break-after: auto;
}