/* Universal Selector */

*{
    font-family: Arial, Helvetica, sans-serif;
}

/*  Id Based Selector*/
#pageHeading, h4{

    text-align: center;
    color: brown;
}


/*  Name Based Selector*/

footer{

    font-size: 1.8em ;

}

footer>p{

    font-size: 0.8em ;
}
/*  Class Selector*/

.centerText{

    text-align: center;
}

/* Grouping Selectors */


/*  Descendent  Selector*/
/* only list items ul will be applied with color and not ol */

ul>li{
    color: blueviolet;
}

/*  Adjancent  Selector*/

#first+section{

    font-weight: bolder;

}

/* Attribute Selector */
img[src='images/doctor1.png']{

    width: 50px;
    height: 50px;
    border: 1px solid brown;
}

img[src$='.png']{

    width: 50px;
    height: 50px;
    border: 2px solid gold;
}

/* Pseudo Classes */
#subHeading:hover{

    font-weight: lighter;
}


/* Pseduo Element */

#subHeading::first-letter{

font-size: 1.4em;
}

.box{
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid blue;
    position: relative;
    margin-left: 70px;

}

ul>li{

    margin-left: 0px;
    list-style-position: inside;
    text-align: left;


}

section{
    font-family: 'oswald';
    font-style: italic;
}
@font-face {
    font-family: 'oswald';
    src: url('https://fonts.googleapis.com/css2?family=Oswald');
}